@charset "UTF-8";
.listOfProducts {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки з однаковою шириною */
  gap: 10px;
}

.clearAllBtn:hover {
  background: gray;
}

.cartMenu {
  position: fixed;
  top: 0;
  right: -540px;
  width: 500px;
  height: 140vh;
  background-color: white;
  color: black;
  padding: 20px;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
  z-index: 999;
}

.cartMenuOpened {
  right: 0;
  z-index: 999;
}

.emptyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 450px;
}
.emptyContainer p {
  margin: 15px 0 15px 0;
  font-size: 1.4rem;
  font-family: "Blinker";
  cursor: default;
}
.emptyContainer button {
  font-size: 1rem;
  padding: 10px 8px 10px 8px;
  cursor: pointer;
}

.imgInCart {
  width: 200px;
  height: 200px;
}
.imgInCart img {
  width: 100%;
  height: 100%;
}

.txtContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  font-family: "Blinker";
  font-weight: 700;
}

.fullProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 0.4rem;
}

.cartProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
  border: 1px solid grey;
}

.leftImg {
  width: 25%;
  height: 100px;
}
.leftImg img {
  width: 100%;
  height: 100%;
}

.cartInfoMiddle {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  font-size: 1.3rem;
  font-family: "Nunito";
}

.cartBtns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90px;
  height: 30px;
}
.cartBtns button {
  width: 30px;
  height: 30px;
}
.cartBtns button:hover {
  background: #373737;
}

.rightInfo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rightInfo p {
  font-family: "Nunito";
  font-weight: 700;
}

.totalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-top: 2px dashed black;
  margin-top: 20px;
}
.totalContainer p {
  font-size: 1.3rem;
  font-family: "Nunito";
  font-weight: 700;
}
.totalContainer button:hover {
  background-color: rgb(173, 34, 34);
}

@media (max-width: 1200px) {
  .listOfProducts {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .listOfProducts {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 538px) {
  .cartMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px 0 0 0;
  }
  .imgInCart {
    width: 150px;
    height: 150px;
  }
  .txtContainer {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .listOfProducts {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 338px) {
  .emptyContainer p {
    font-size: 1.2rem;
  }
  .imgInCart {
    width: 100px;
    height: 100px;
  }
  .txtContainer {
    font-size: 1rem;
    width: 200px;
  }
  .fullProduct {
    gap: 0.3rem;
  }
  .cartProduct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leftImg {
    padding-top: 5px;
    height: 80px;
    width: 100px;
  }
  .cartInfoMiddle {
    width: 80px;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    font-size: 0.9rem;
  }
  .rightInfo {
    width: 100%;
    height: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .rightInfo p {
    font-size: 0.8rem;
  }
  .totalContainer {
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .totalContainer p {
    font-size: 1.1rem;
  }
}
@media (max-width: 200px) {
  .emptyContainer p {
    font-size: 0.9rem;
  }
  .emptyContainer button {
    font-size: 0.8rem;
    padding: 8px 8px 8px 8px;
  }
  .txtContainer {
    font-size: 0.8rem;
    width: 80%;
  }
  .leftImg {
    width: 80px;
  }
  .cartInfoMiddle {
    font-size: 0.8rem;
  }
  .cartBtns {
    width: 50px;
    height: 20px;
  }
  .cartBtns button {
    width: 40px;
    height: 20px;
  }
}
@media (max-width: 150px) {
  .leftImg {
    height: 50px;
    width: 50px;
  }
  .cartInfoMiddle {
    width: 50px;
    font-size: 0.7rem;
  }
  .cartBtns {
    width: 30px;
  }
  .cartBtns button {
    width: 30px;
  }
  .rightInfo p {
    font-size: 0.7rem;
  }
}