//CartPage
.listOfProducts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки з однаковою шириною */
  gap: 10px;
}

.clearAllBtn {
  &:hover {
    background: gray;
  }
}

//CartMenu
.cartMenu {
  position: fixed;
  top: 0;
  right: -540px;
  width: 500px;
  height: 140vh;
  background-color: white;
  color: black;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.cartMenuOpened {
  right: 0;
  z-index: 999;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  p {
    margin: 15px 0 15px 0;
    font-size: 1.4rem;
    font-family: 'Blinker';
    cursor: default;
  }
  button {
    font-size: 1rem;
    padding: 10px 8px 10px 8px;
    cursor: pointer;
  }
}

.imgInCart {
  width: 200px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.txtContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  font-family: 'Blinker';
  font-weight: 700;
}

.fullProduct {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 0.4rem;
}

.cartProduct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border: 1px solid grey;
}

.leftImg {
  width: 25%;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
  }
}

.cartInfoMiddle {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 1.3rem;
  font-family: 'Nunito';
}

.cartBtns {
  flex-direction: row;
  width: 90px;
  height: 30px;
  button {
    width: 30px;
    height: 30px;

    &:hover {
      background: #373737;
    }
  }
}

.rightInfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: 'Nunito';
    font-weight: 700;
  }
}

.totalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background: white;
  border-top: 2px dashed black;
  margin-top: 20px;

  p {
    font-size: 1.3rem;
    font-family: 'Nunito';
    font-weight: 700;
  }
  button {
    &:hover {
      background-color: rgb(173, 34, 34);
    }
  }
}

@media (max-width: 1200px) {
  .listOfProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .listOfProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 538px) {
  .cartMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 0 0;
  }

  .imgInCart {
    width: 150px;
    height: 150px;
  }

  .txtContainer {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .listOfProducts {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 338px) {
  .emptyContainer {
    p {
      font-size: 1.2rem;
    }
  }

  .imgInCart {
    width: 100px;
    height: 100px;
  }

  .txtContainer {
    font-size: 1rem;

    width: 200px;
  }

  .fullProduct {
    gap: 0.3rem;
  }

  .cartProduct {
    flex-direction: column;
    align-items: center;
  }

  .leftImg {
    padding-top: 5px;
    height: 80px;
    width: 100px;
  }

  .cartInfoMiddle {
    width: 80px;
    height: 50%;
    align-items: center;
    padding: 0;
    font-size: 0.9rem;
  }

  .rightInfo {
    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: flex-end;
    p {
      font-size: 0.8rem;
    }
  }

  .totalContainer {
    height: 100px;
    flex-direction: column;

    p {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 200px) {
  .emptyContainer {
    p {
      font-size: 0.9rem;
    }
    button {
      font-size: 0.8rem;
      padding: 8px 8px 8px 8px;
    }
  }

  .txtContainer {
    font-size: 0.8rem;
    width: 80%;
  }

  .leftImg {
    width: 80px;
  }

  .cartInfoMiddle {
    font-size: 0.8rem;
  }

  .cartBtns {
    width: 50px;
    height: 20px;
    button {
      width: 40px;
      height: 20px;
    }
  }
}

@media (max-width: 150px) {
  .leftImg {
    height: 50px;
    width: 50px;
  }

  .cartInfoMiddle {
    width: 50px;
    font-size: 0.7rem;
  }

  .cartBtns {
    width: 30px;
    button {
      width: 30px;
    }
  }

  .rightInfo {
    p {
      font-size: 0.7rem;
    }
  }
}
