.sortBtnContainer {
  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0 10px;
    }
  }
}

.cardsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  margin-top: 100px;
}

@media (max-width: 930px) {
  .sortBtnContainer {
    ul {
      li {
        margin: 0 3px;
      }
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(4, 165px);
    gap: 5px;
  }
}

@media (max-width: 800px) {
  .sortBtnContainer {
    ul {
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 3px 3px;
      }
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(4, 142px);
  }
}

@media (max-width: 650px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 140px);
  }
}

@media (max-width: 490px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 140px);
  }
}

@media (max-width: 460px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 230px);
  }
}

@media (max-width: 400px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 210px);
  }
}

@media (max-width: 355px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 180px);
  }
}

@media (max-width: 270px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 110px);
  }
}
