@import '../../scssMixinsAndVariables/mixins.scss';
@import '../../scssMixinsAndVariables/variables.scss';

.card {
  display: flex;
  flex-direction: column;

  width: 150px;
  height: 200px;
  padding: 20px;
  border: 1px solid rgb(129, 129, 129);
  transition: border-color 0.3s ease;
  cursor: pointer;

  &:hover {
    border: 1px solid rgb(0, 0, 0);
  }
}

.imgContainer {
  display: flex;
  width: 150px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.text {
  @include blockSettings(flex, column, flex-end);
  height: 100px;

  h3 {
    font-family: $loraFont;
    font-size: 0.9rem;
  }
  h5 {
    font-family: $nunitoFont;
    font-weight: 800;
    font-size: 1rem;
    padding: 5px 0;
  }
}

@media (max-width: 930px) {
  .card {
    width: 120px;
    height: 170px;
  }

  .imgContainer {
    width: 120px;
    height: 180px;
  }

  .text {
    h3 {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 800px) {
  .card {
    width: 100px;
    height: 150px;
  }

  .imgContainer {
    width: 100px;
    height: 140px;
  }

  .text {
    h3 {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 460px) {
  .card {
    width: 190px;
    height: 240px;
  }

  .imgContainer {
    width: 190px;
    height: 170px;
  }

  .text {
    margin-top: 10px;

    h3 {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 400px) {
  .card {
    width: 170px;
  }

  .imgContainer {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 355px) {
  .card {
    width: 150px;
  }

  .imgContainer {
    width: 150px;
  }
}

@media (max-width: 270px) {
  .card {
    justify-content: center;
    width: 70px;
    height: 160px;
  }

  .imgContainer {
    width: 70px;
    height: 70px;
  }

  .text {
    h3 {
      font-size: 0.8rem;
    }
    h5 {
      font-size: 0.9rem;
    }
  }
}
