.textInBar {
  font-size: 1rem;
  margin: 10px 0px;
  font-family: Lora, serif;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 460px) {
  .textInBar {
    font-size: 0.8rem;
    margin: 5px 0px;
  }
}
