.productMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}
.productMainContainer h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Blinker";
}

.productBox {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productDiv {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productLeft {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigImg {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.bigImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgsSmallBlock {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imgsSmallBlock img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.smallImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0rem 0rem 0rem;
}

.productRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 500px;
}

.productText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.productText p {
  line-height: 1.4;
  font-size: 1.2rem;
  font-family: "Ubuntu";
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  gap: 3rem;
}
.infoContainer h3 {
  font-family: "Blinker";
  font-size: 1.4rem;
}

.controlBtn {
  background: white;
  border: none;
  font-size: 1.6rem;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.counterOutput {
  background: white;
  font-size: 1.5rem;
  width: 46px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  font-family: "Blinker";
  cursor: default;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.8rem;
  height: 50px;
  margin-top: 50px;
}
.btnContainer button {
  width: 180px;
  height: 45px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.addToCartButton {
  background-color: transparent;
  border: 2px solid black !important;
}
.addToCartButton:hover {
  color: white;
  background-color: black;
}

.buyBtn {
  background-color: #b6002c;
  color: white;
  border: 2px solid #b6002c !important;
}
.buyBtn:hover {
  background-color: transparent;
  color: #b6002c;
}

.notification {
  background-color: #373737;
  color: #fff;
  font-size: 1.5rem;
  left: 50%;
  padding: 1.2rem 2.2rem;
  position: absolute;
  top: -100%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: top 0.6s ease-out;
  transition: top 0.6s ease-out;
  z-index: 999999999;
  font-family: "Blinker";
  border-radius: 20px;
}

.notificationShow {
  top: 10%;
}

.notificationHide {
  top: -100%;
}

@media (max-width: 1120px) {
  .bigImg {
    width: 300px;
  }
  .bigImg img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .imgsSmallBlock {
    width: 70px;
  }
  .imgsSmallBlock img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .smallImgs {
    width: 100%;
  }
  .productRight {
    width: 100%;
  }
  .productText {
    width: 400px;
  }
}
@media (max-width: 855px) {
  .productBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .productLeft {
    width: 100%;
  }
  .smallImgs {
    width: 200px;
    padding: 1rem 1rem;
  }
}
@media (max-width: 750px) {
  .productMainContainer h2 {
    font-size: 1.6rem;
  }
  .productLeft {
    height: 300px;
    padding-top: 5rem;
  }
  .bigImg {
    width: 250px;
    height: 400px;
  }
  .productText {
    width: 280px;
  }
  .productText p {
    line-height: 1.3;
    font-size: 1rem;
  }
  .infoContainer {
    gap: 0.3rem;
  }
  .infoContainer h3 {
    font-size: 1.2rem;
  }
  .controlBtn {
    width: 30px;
    height: 30px;
  }
  .counterOutput {
    width: 31px;
    height: 30px;
  }
  .btnContainer {
    gap: 1rem;
  }
  .btnContainer button {
    width: 120px;
    height: 40px;
    border: none;
    font-size: 0.8rem;
  }
}
@media (max-width: 630px) {
  .productMainContainer h2 {
    font-size: 2rem;
  }
  .productDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productLeft {
    height: 400px;
  }
  .bigImg {
    width: 300px;
  }
  .smallImgs {
    width: 100%;
  }
  .productText {
    width: 400px;
  }
  .productText p {
    line-height: 1.4;
    font-size: 1.2rem;
  }
  .infoContainer {
    gap: 3rem;
  }
  .infoContainer h3 {
    font-size: 1.4rem;
  }
  .controlBtn {
    width: 45px;
    height: 45px;
  }
  .counterOutput {
    width: 46px;
    height: 45px;
  }
  .btnContainer {
    gap: 1.8rem;
  }
  .btnContainer button {
    width: 180px;
    height: 45px;
  }
}
@media (max-width: 510px) {
  .productMainContainer h2 {
    font-size: 1.5rem;
  }
  .productLeft {
    height: 350px;
  }
  .productRight {
    height: 400px;
  }
  .productText {
    width: 300px;
  }
  .productText p {
    font-size: 1rem;
  }
  .infoContainer {
    gap: 0.8rem;
  }
  .controlBtn {
    width: 30px;
    height: 30px;
  }
  .counterOutput {
    font-size: 1.3rem;
    width: 31px;
    height: 30px;
  }
  .btnContainer {
    gap: 1.3rem;
  }
  .btnContainer button {
    width: 130px;
    height: 40px;
  }
}
@media (max-width: 400px) {
  .bigImg {
    width: 200px;
  }
  .smallImgs {
    padding: 0.8rem 0rem;
  }
  .productText {
    width: 200px;
  }
  .productText p {
    font-size: 0.9rem;
  }
  .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.3rem;
  }
  .infoContainer h3 {
    font-size: 1.3rem;
  }
  .btnContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    height: 150px;
  }
  .btnContainer button {
    width: 130px;
    height: 40px;
    font-size: 0.8rem;
  }
}
@media (max-width: 270px) {
  .productDiv {
    margin-bottom: 150px;
  }
  .bigImg {
    width: 100%;
  }
  .productText {
    width: 100%;
  }
}