.footerContainer {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
}
.footerContainer h3 {
  color: white;
  margin-bottom: 10px;
  font-family: "Anton", sans-serif;
  font-size: 1.8rem;
}
.footerContainer h5 {
  color: white;
  font-family: "Lora";
  font-size: 0.8rem;
}

.lastList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 150px;
}
.lastList ul {
  margin-top: auto;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.lastList ul li {
  cursor: pointer;
  margin: 0 10px 0 10px;
  font-family: "Lora";
}
.lastList ul li:hover {
  text-decoration: underline;
}

@media (max-width: 570px) {
  .footerContainer h5 {
    font-size: 0.7rem;
  }
  .lastList ul li {
    margin: 0 7px 0 7px;
    font-size: 0.8rem;
  }
}
@media (max-width: 410px) {
  .lastList ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .lastList ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    margin: 0 2px 0 2px;
  }
}
@media (max-width: 355px) {
  .footerContainer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .lastList ul {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 270px) {
  .footerContainer h3 {
    font-size: 1.5rem;
  }
  .lastList ul {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .lastList ul li {
    width: 60px;
    font-size: 0.6rem;
  }
}