@import '../../scssMixinsAndVariables/mixins.scss';
@import '../../scssMixinsAndVariables/variables.scss';

.footerContainer {
  width: 100%;
  height: 300px;

  @include blockSettings2(flex, center, center);
  flex-direction: column;
  background: black;

  h3 {
    color: white;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
  }
  h5 {
    color: white;
    font-family: $loraFont;
    font-size: 0.8rem;
  }
}

.lastList {
  display: flex;
  color: white;
  height: 150px;

  ul {
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      cursor: pointer;
      margin: 0 10px 0 10px;
      font-family: $loraFont;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 570px) {
  .footerContainer {
    h5 {
      font-size: 0.7rem;
    }
  }

  .lastList {
    ul {
      li {
        margin: 0 7px 0 7px;
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 410px) {
  .lastList {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      li {
        display: flex;
        justify-content: center;
        width: 80px;
        margin: 0 2px 0 2px;
      }
    }
  }
}

@media (max-width: 355px) {
  .footerContainer {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }

  .lastList {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 270px) {
  .footerContainer {
    h3 {
      font-size: 1.5rem;
    }
  }

  .lastList {
    ul {
      grid-template-columns: repeat(1, 1fr);

      li {
        width: 60px;
        font-size: 0.6rem;
      }
    }
  }
}
