@import '../../scssMixinsAndVariables/mixins.scss';
@import '../../scssMixinsAndVariables/variables.scss';

.categoriesContainer {
  @include blockSettings2(flex, center, center);
  margin-top: 30px;

  h2 {
    font-family: $nunitoFont;
    font-size: 1.8rem;
  }
}

.furniture {
  position: relative;
  width: 500px;
  height: 310px;
  margin-right: 10px;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
    opacity: 0.8;
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform ease-in-out 0.25s;
    cursor: pointer;
  }

  img:hover {
    transform: scale(1.1);
  }

  h2 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(15%, -75%);
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
  }
}

.skinCare {
  position: relative;
  width: 300px;
  height: 310px;
  margin-right: 10px;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
    opacity: 0.6;
  }

  img {
    width: 100%;

    transition: transform ease-in-out 0.25s;
    cursor: pointer;
  }

  img:hover {
    transform: scale(1.1);
  }

  h2 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(25%, -75%);
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
  }
}

.containerTwo {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.kitchen {
  position: relative;
  display: flex;
  height: 150px;
  width: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
    opacity: 0.8;
  }

  img {
    height: 100%;

    transition: transform ease-in-out 0.25s;
    cursor: pointer;
  }

  img:hover {
    transform: scale(1.1);
  }

  h2 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(12%, -50%);
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
  }
}

.electronics {
  position: relative;
  display: flex;
  height: 150px;
  width: 200px;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
    opacity: 0.8;
  }

  img {
    width: 100%;
    height: 100%;

    transition: transform ease-in-out 0.25s;
    cursor: pointer;
  }

  img:hover {
    transform: scale(1.1);
  }

  h2 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(8%, -75%);
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
  }
}

.productsContainer {
  @include blockSettings3(flex, column, center);

  margin-top: 30px;
  h2 {
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-family: $loraFont;
    font-size: 1.4rem;
  }
  hr {
    width: 500px;
    border: none;
    background: black;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 4px;
    margin-bottom: 20px;
  }
}

.cardsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;

  a {
    text-decoration: none;
    color: black;
  }
}

.adContainer {
  @include blockSettings2(flex, center, center);
  flex-direction: row;
  margin-top: 40px;
}

.adTextContainer {
  @include blockSettings2(flex, center, center);

  width: 400px;
  height: 250px;
  h3 {
    font-family: $nunitoFont;
    font-size: 1.6rem;
  }

  p {
    font-size: 0.9rem;
    font-family: $nunitoFont;
  }
}

.adPictureContainer {
  width: 400px;
  height: 250px;

  img {
    width: 100%;
    height: 100%;
  }
}

.adContainer2 {
  @include blockSettings2(flex, center, center);

  flex-direction: row;
  margin-top: 40px;
}

.adTextContainer2 {
  @include blockSettings2(flex, center, center);

  width: 400px;
  height: 250px;

  h3 {
    font-family: $nunitoFont;
    font-size: 1.6rem;
  }

  p {
    font-size: 0.9rem;
    font-family: $nunitoFont;
  }
}

.adPictureContainer2 {
  width: 400px;
  height: 250px;

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1090px) {
  .categoriesContainer {
    h2 {
      font-size: 1.6rem;
    }
  }

  .furniture {
    width: 400px;
  }

  .skinCare {
    width: 260px;
  }

  .containerTwo {
    width: 190px;
  }

  .kitchen {
    width: 190px;
  }

  .electronics {
    width: 190px;
  }
}

@media (max-width: 930px) {
  .categoriesContainer {
    h2 {
      font-size: 1.5rem;
    }
  }

  .furniture {
    width: 310px;
    height: 280px;
  }

  .skinCare {
    width: 250px;
    height: 280px;
  }

  .containerTwo {
    width: 170px;
  }

  .kitchen {
    height: 135px;
    width: 170px;
  }

  .electronics {
    height: 135px;
    width: 170px;
  }

  .cardsContainer {
    grid-template-columns: repeat(4, 165px);
    gap: 5px;
  }

  .adTextContainer {
    width: 300px;
    height: 200px;
    h3 {
      font-size: 1.2rem;
    }
  }

  .adPictureContainer {
    width: 300px;
    height: 200px;
  }

  .adTextContainer2 {
    width: 300px;
    height: 200px;
  }

  .adPictureContainer2 {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  .furniture {
    width: 250px;
    height: 270px;
  }

  .skinCare {
    width: 200px;
    height: 270px;
  }

  .containerTwo {
    width: 150px;
  }

  .kitchen {
    width: 150px;
    height: 130px;
  }

  .electronics {
    width: 150px;
    height: 130px;
  }

  .productsContainer {
    h2 {
      font-size: 1.3rem;
    }
    hr {
      width: 400px;
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(4, 142px);
  }

  .adTextContainer {
    width: 260px;
    height: 150px;
    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .adPictureContainer {
    width: 260px;
    height: 150px;
  }

  .adTextContainer2 {
    width: 260px;
    height: 150px;

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .adPictureContainer2 {
    width: 260px;
    height: 150px;
  }
}

@media (max-width: 670px) {
  .categoriesContainer {
    flex-wrap: wrap;

    h2 {
      font-size: 1.3rem;
    }
  }

  .furniture {
    width: 240px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;

    h2 {
      transform: translate(25%, -75%);
    }
  }

  .skinCare {
    width: 240px;
    height: 200px;
    margin-right: 0;
    margin-left: 5px;
    margin-bottom: 5px;

    h2 {
      transform: translate(90%, -75%);
    }
  }

  .containerTwo {
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
  }

  .kitchen {
    width: 200px;
    margin-right: 5px;

    h2 {
      transform: translate(90%, -75%);
    }
  }

  .electronics {
    width: 200px;
    margin-left: 5px;

    h2 {
      transform: translate(45%, -75%);
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(3, 142px);
  }

  .adTextContainer {
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .categoriesContainer {
    h2 {
      font-size: 1.1rem;
    }
  }

  .furniture {
    width: 190px;
    height: 150px;

    h2 {
      transform: translate(20%, -75%);
    }
  }

  .skinCare {
    width: 190px;
    height: 150px;

    h2 {
      transform: translate(75%, -83%);
    }
  }

  .kitchen {
    width: 150px;
    height: 150px;

    h2 {
      transform: translate(75%, -75%);
    }
  }

  .electronics {
    width: 150px;
    height: 150px;

    h2 {
      transform: translate(33%, -75%);
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(3, 142px);
  }

  .adTextContainer {
    width: 240px;
  }

  .adPictureContainer {
    width: 200px;
    height: 145px;
  }

  .adTextContainer2 {
    width: 240px;
  }

  .adPictureContainer2 {
    width: 200px;
    height: 145px;
  }
}

@media (max-width: 460px) {
  .furniture {
    width: 160px;

    h2 {
      transform: translate(8%, -75%);
    }
  }

  .skinCare {
    width: 160px;

    h2 {
      transform: translate(60%, -85%);
    }
  }

  .productsContainer {
    h2 {
      font-size: 1.2rem;
    }
    hr {
      width: 300px;
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(1, 230px);
  }

  .adTextContainer {
    width: 260px;
    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .adPictureContainer {
    display: none;
  }

  .adTextContainer2 {
    width: 260px;

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .adPictureContainer2 {
    display: none;
  }
}

@media (max-width: 400px) {
  .categoriesContainer {
    h2 {
      font-size: 1rem;
    }
  }

  .furniture {
    width: 140px;
    height: 140px;
  }

  .skinCare {
    width: 140px;
    height: 140px;

    img:hover {
      transform: scale(1.1);
    }

    h2 {
      transform: translate(60%, -80%);
    }
  }

  .kitchen {
    width: 140px;
    height: 140px;
  }

  .electronics {
    width: 140px;
    height: 140px;
  }

  .productsContainer {
    hr {
      width: 250px;
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(1, 220px);
  }
}

@media (max-width: 355px) {
  .categoriesContainer {
    flex-direction: column;

    h2 {
      font-size: 1.2rem;
    }
  }

  .furniture {
    width: 160px;
    height: 110px;
    margin-right: 0px;

    h2 {
      transform: translate(4%, -75%);
    }
  }

  .skinCare {
    height: 110px;
    margin-left: 0px;
    margin-bottom: 0px;

    h2 {
      transform: translate(45%, -75%);
    }
  }

  .containerTwo {
    flex-direction: column;
    align-items: center;
  }

  .kitchen {
    width: 120px;
    height: 110px;
    margin-right: 0;
    margin-bottom: 5px;

    h2 {
      transform: translate(43%, -75%);
    }
  }

  .electronics {
    width: 110px;
    height: 110px;
    margin-left: 0px;

    h2 {
      transform: translate(7%, -75%);
    }
  }

  .productsContainer {
    h2 {
      font-size: 1rem;
    }
    hr {
      width: 150px;
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(1, 190px);
  }

  .adContainer {
    margin-top: 60px;
  }
}

@media (max-width: 270px) {
  .categoriesContainer {
    h2 {
      font-size: 0.8rem;
    }
  }

  .furniture {
    width: 110px;
  }

  .skinCare {
    width: 110px;

    h2 {
      transform: translate(55%, -75%);
    }
  }

  .kitchen {
    width: 110px;

    h2 {
      transform: translate(71%, -75%);
    }
  }

  .electronics {
    h2 {
      transform: translate(30%, -75%);
    }
  }

  .productsContainer {
    h2 {
      font-size: 0.8rem;
    }
    hr {
      width: 100px;
    }
  }

  .cardsContainer {
    grid-template-columns: repeat(1, 110px);
  }

  .adTextContainer {
    width: 100%;
  }

  .adTextContainer2 {
    margin-bottom: 100px;
    width: 100%;
  }
}
