@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&family=Dancing+Script:wght@700&family=Fjalla+One&family=Lora&family=Nunito:wght@400;700&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
